.container {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    padding: 2%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.row-portfolio {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.list-item-portfolio {
    width: 100%;
}

.icon {
    width: 20px;
    height: 20px;
}

/* Bootstrap overriding */
.badge {
    margin: 5px 0px;
}

.row {
    margin: 10px 0px;
}

.col {
    padding: 20px;
}

.networks {
    display: flex;
    justify-content: flex-start;
}